body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 1200px;
}

.hidden-title {
  color: transparent;
  position: absolute;
}

/*header*/

.header {
  background: #eeeeee;
}

.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  min-width: 1200px;
}

.header__logo {
  background: url(../images/nerds-logo.svg) no-repeat;
  display: block;
  color: transparent;
  height: 65px;
  width: 160px;
}

.header__logo:hover {
  background: url(../images/nerds-logo-hover.svg) no-repeat;
}

.header__logo:active {
  opacity: .3;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 25px;
}

.nav__item {
  color: #000;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.item--active {
  border-bottom: 2px solid #fb565a;
}

.nav__item:hover {
  color: #fb565a;
}

.nav__item:active {
  color: rgba(166, 166, 166, .3);
}

.item--cart {
  background: url(../images/cart-icon.svg) no-repeat 0 2px;
  margin-left: 250px;
  padding-left: 40px;
}

/*slaider+*/

.slaider_block {
  background: #eeeeee;
  margin-top: -2px;
  position: relative;
}

.slide {
  background: url(../images/slide1.png) no-repeat 450px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-bottom: 145px;
  padding-right: 780px;
  padding-top: 20px;
}

.slide--second {
  background: url(../images/slide2.png) no-repeat 500px 0px;
  padding-right: 630px;
}

.slide--third {
  background: url(../images/slide3.png) no-repeat 420px 20px;
  padding-right: 750px;
}

.slide__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide__text {
  color: #283136;
  line-height: 24px;
  margin-top: 0px;
}

.slaider__btn {
  background: #fb565a;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  line-height: 18px;
  padding: 15px 50px 15px 50px;
  position: absolute;
  margin-bottom: 80px;
  text-transform: uppercase;
  text-decoration: none;
  top: 295px;
  width: 140px;
}

.slaider__btn:hover,
.servese__btn:hover,
.contacts__btn:hover,
.form__btn:hover {
  background: #e74246;
}

.slaider__btn:active,
.servese__btn:active,
.contacts__btn:active,
.form__btn:active {
  background: #d7373b;
  color: rgba(255, 255, 255, .3);
}

.slaider__toggles {
  bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 500px;
  list-style: none;
  position: absolute;
}

.slaider__toggle {
  background: #fff;
  border-radius: 50%;
  display: block;
  color: transparent;
  height: 20px;
  font-size: 5px;
  width: 20px;
}

.toggle--active {
  background: #fff url(../images/active.png) no-repeat center;
}

.slaider__toggles .slaider__toggle {
  margin: 15px;
}

.slide--hidden {
  display: none;
}

/*serveses*/

.serveses {
  padding-bottom: 80px;
  padding-top: 80px;
}

.serveses_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 60px;
  width: 1140px;
}

.servese_block {
  width: 300px;
}

.servese__title {
  text-transform: uppercase;
}

.servese__text {
  color: #283136;
}

.servese__btn {
  background: #fb565a;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  line-height: 24px;
  padding: 15px 40px 15px 40px;
  margin-top: 35px;
  text-decoration: none;
  text-transform: uppercase;
  width: 80px;
}

.btn--green {
  background: #00ca74;
}

.btn--green:hover {
  background: #00bc6c;
}

.btn--green:active {
  background: #00aa62;
  color: rgba(255, 255, 255, .3);
}

.btn--yellow {
  background: #efc84a;
}

.btn--yellow:hover {
  background: #eab534;
}

.btn--yellow:active {
  background: #e5a722;
  color: rgba(255, 255, 255, .3);
}

/*statistic*/

.statistic {
  border-top: 2px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 70px;
}

.statistic_block--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 70px;
  width: 700px;
}

.statistic_block--two {
  background: url(../images/nerds-ill.jpg) no-repeat center 0;
  margin-top: 60px;
  padding-top: 255px;
  width: 360px;
}

.statistic__slogan {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 25px;
}

.statistic__text {
  color: #283136;
  line-height: 24px;
}

.statistic__title {
  margin-bottom: 0;
  text-transform: uppercase;
}

.statistic__tasks {
  list-style: none;
  position: relative;
}

.statistic__task {
  color: #283136;
  padding-top: 20px;
}

.task--first::before {
  background: #fb565a;
  content: '';
  height: 2px;
  left: 5px;
  position: absolute;
  top: 33px;
  width: 25px;
}

.task--second::before {
  background: #fb565a;
  content: '';
  height: 2px;
  left: 5px;
  position: absolute;
  top: 83px;
  width: 25px;
}

.task--third::before {
  background: #fb565a;
  content: '';
  height: 2px;
  left: 5px;
  position: absolute;
  top: 132px;
  width: 25px;
}

.table__title {
  text-transform: uppercase;
}

.table__procents {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  padding-bottom: 25px;
  padding-top: 45px;
  width: 100px;
}

.table__procents sup {
  font-size: 25px;
  position: relative;
  top: -15px;
}

.table__discription {
  color: #283136;
  line-height: 18px;
}

/*projects*/

.projects_block {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 45px 0 45px 0;
}

.project__anchor {
  display: block;
  height: 85px;
  color: transparent;
  width: 210px;
}

.project__anchor:active {
  opacity: .1;
}

.project--htmlacademy {
  background: url(../images/logo-1.png) no-repeat center;
}

.project--htmlacademy:hover {
  background: url(../images/logo-1-hover.png) no-repeat center;
}

.project--borodinski {
  background: url(../images/logo-2.png) no-repeat center;
}

.project--borodinski:hover {
  background: url(../images/logo-2-hover.png) no-repeat center;
}

.project--pink {
  background: url(../images/logo-3.png) no-repeat center;
}

.project--pink:hover {
  background: url(../images/logo-3-hover.png) no-repeat center;
}

.project--mishka {
  background: url(../images/logo-4.png) no-repeat center;
}

.project--mishka:hover {
  background: url(../images/logo-4-hover.png) no-repeat center;
}

/*contact*/

.contact {
  padding-top: 80px;
}

.contact_block {
  position: relative;
}

.contacts__info {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 60px 45px 50px;
  position: absolute;
  top: -400px;
  width: 220px;
}

.contacts__title {
  font-size: 18px;
}

.contacts__addres {
  color: #666666;
}

.contacts__phone {
  color: #666666;
  margin-bottom: 35px;
}

.contacts__btn, .form__btn {
  background: #fb565a;
  border-radius: 3px;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 220px;
}

.map__google {
  width: 100%;
}

/*footer*/

.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 220px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.social__media {
  background: #e1e1e1 url(../images/vk-icon.svg) no-repeat center center;
  border-radius: 50%;
  color: transparent;
  display: block;
  margin: 5px;
  height: 80px;
  width: 80px;
}

.social__media:hover {
  background-color: #e74246;
}

.social__media:active {
  background: #d7373b url(../images/vk-icon-active.svg) no-repeat center center;
}

.media--facebook {
  background: #e1e1e1 url(../images/fb-icon.svg) no-repeat center center;
}

.media--facebook:active {
  background: #d7373b url(../images/fb-icon-active.svg) no-repeat center center;
}

.media--instagram {
  background: #e1e1e1 url(../images/insta-icon.svg) no-repeat center center;
}

.media--instagram:active {
  background: #d7373b url(../images/insta-icon-active.svg) no-repeat center center;
}

.footer__text {
  margin-left: 140px;
  position: relative;
  top: 10px;
}

.footer__offer {
  font-size: 36px;
  line-height: 36px;
}

.footer__special {
  color: #444444;
  line-height: 22px;
  margin-top: 5px;
}

/*write-us*/

.write-us_block {
  background: #fff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .75);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .75);
  display: none;
  height: 590px;
  left: 120px;
  position: absolute;
  top: -550px;
  z-index: 1;
  width: 960px;
}

.write-us_block--show {
  display: block;
}

.write__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 100px 85px 100px;
}

.wrapper__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.wrapper__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.write__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-left: 100px;
  margin-bottom: 40px;
  padding-top: 35px;
}

.write__btn--close {
  color: transparent;
  background: url(../images/close-cross.svg) no-repeat center center;
  border: none;
  font-size: 4px;
  height: 23px;
  opacity: .3;
  right: 95px;
  position: absolute;
  top: 85px;
  width: 23px;
}

.write__btn--close:hover {
  opacity: 1;
}

.write__btn--close:active {
  opacity: .1;
}

.write__info label {
  font-weight: bold;
  line-height: 18px;
  padding-bottom: 10px;
}

.write__name,
.write__email {
  height: 22px;
  width: 326px;
}

.write__name,
.write__email,
.write__text {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 12px 15px;
}

.write__name:hover,
.write__email:hover,
.write__text:hover {
  border-color: #b4b9bb;
}

.write__name:focus,
.write__email:focus,
.write__text:focus {
  border-color: #000;
  outline: none;
}

.write--unvalid {
  border-color: #e74246;
  color: #e74246;
}


.write__text {
  height: 92px;
  margin-bottom: 45px;
  width: 726px;
}

.form__btn {
  border: none;
  border-radius: 3px;
  padding-bottom: 13px;
  padding-top: 13px;
}

@keyframes shake {
  0%, 100% { transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80%  { transform: translateX(10px);  }
}

.write--error {
   animation-name: shake;
   animation-duration: 0.6s;
}
